<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2021 Lecoincoin SA
            </div>
            <div class="col-sm-6 text-right">
                Designed by <a href="https://colorlib.com">Ela admin</a>
            </div>
        </div>
    </div>
</footer>