<!doctype html>
<html>
<head>
    <meta name="layout" content="main"/>
</head>
<body>
<div id="content" role="main">
    <div class="animated fadeIn">
        <div class="clearfix"></div>
        <div class="alert alert-info" role="alert">
            <h4><strong>Bienvenue sur la page d'accueil pour la gestion des données du site Lecoincoin</strong></h4>
        </div>
    </div>
</div>

</body>
</html>
